- var images = "assets/images/";
header.pt-3.pb-3
  .container
    nav.navbar.navbar-expand-md.navbar-light.justify-content-between
      a(href="")
        figure
          img(src=images+'logo.svg', width="60")
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarToggler', aria-controls='navbarToggler', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarToggler.collapse.navbar-collapse.justify-content-md-between
        ul.menu
          li
            a(href="index.html") Inicio
          li
            a(href="campanas.html") Campañas
          li.dropdown
            a(href="aundiencia.html" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Audiencia
            ul.dropdown-menu( aria-labelledby="dropdownMenu1")
              li
                a(href="") Link 1
              li
                a(href="") Link 2
              li
                a(href="") Link 3
          li.dropdown
            a(href="aundiencia.html" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Secciones
            ul.dropdown-menu( aria-labelledby="dropdownMenu2")
              li
                a(href="") Link 1
              li
                a(href="") Link 2
              li
                a(href="") Link 3
          li
            a(href="reportes.html") Reportes
        .tools
          .tools-search
            button.btn.btn-cp1.w-100.text-left.selection(type='button')
              select
                option Centro Comercial Aventura
                option Centro Comercial Aventura 2 
                option Centro Comercial Aventura 3 
                option Centro Comercial Aventura 4
                option Centro Comercial Aventura 5
          .tools-actions
            a(href="#")
              span.tools-actions--icon.icon-Icons-64
            a(href="#")
              span.tools-actions--icon.icon-Icons-60
            a(href="#")
              span.tools-actions--icon.icon-Icons-51
            a(href="#") 
              figure
                |AC
