.pagination.d-block.d-md-flex.justify-content-md-end.mb-4.mb-md-0
  .d-flex.justify-content-center.justify-content-md-between.align-items-center.mr-md-4.mb-3.mb-md-0
    |Ir a:
    input.btn.btn-cp1.text-cp-font1.ml-2(placeholder="Número de página")
  .d-flex.justify-content-between.align-items-center
    a.btn.shadow.mr-2(href="#") Primero
    a.btn.shadow.pagination-prev.mr-2(href="#")
      span.pagination-prev--arrow.icon-Icons_flecha_abajo.d-inline-block(style='transform: rotate(90deg)')
        
    .mr-2.ml-2.d-inline-block
      a.mr-1.active(href="#") 1
      a.mr-1(href="#") 2
      a.mr-1(href="#") 3
      |...
    
    a.btn.shadow.pagination-next.ml-2(href="#")
      span.pagination-next--arrow.icon-Icons_flecha_abajo.d-inline-block(style='transform: rotate(-90deg)')
    a.btn.shadow.ml-2(href="#") Último
